#contextmenu {
  position: relative;
  line-height: 20px;
  font-size: 12px;
  width: 140px;
  margin-left: 5px;
  clear: both;
  float: right;
}

a.previous, a.next, .days a {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 20px;
}

.selected {
  font-weight: bold;
  background: #1da1f2;
  color: #ffffff;
}